h1 {
  font-size: large;
  width: auto;
  border-bottom: 4px solid black;
  margin: 5px;
  padding: 5px;
}

.player-list {
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 4px solid black; */
  /* border-radius: 20px; */
  /* background-color: burlywood; */

  width: 21vw;
}

.player-list-item {
  margin: 5px;
  padding: 5px;
  width: 80%;

  text-align: center;
  font-size: 15 px;

  border: 4px solid black;
  border-radius: 20px;
  background-color: rgb(154, 154, 154);
}

.player-list-item>p {
  margin: 0px;
}

.player-name {
  font-size: larger;
  font-weight: bold;
}